<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bug.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>

<p>
  <a id="test" href="" class="btn btn-primary">Open demo</a>
</p>

<div id="test_modal">
  <div>
    <h2>save some stuff</h2>
  </div>
  <div>
    <p>Please enter a thing to save.</p>
    <input type="text" id="save_stuff" class="span5" /><br />
    <button id="save_stuff_btn" class="btn btn-success">Save</button>
  </div>
</div>



<div>
  <p class="imglist">
    <a href="https://source.unsplash.com/Sj5efgWguDs/1500x1000" data-fancybox>
      <img src="https://source.unsplash.com/Sj5efgWguDs/240x160" />
  </p>
</div>

<script src="<%= javascript_url 'testfancybox'%>"></script>
