<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bug.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>

<p>
  lol this is me
</p>


<a href="http://via.placeholder.com/300" data-fancybox data-caption="Caption for single image">
	<img src="http://via.placeholder.com/300" alt="" />
</a>
